  <li class="messages-item starred">
    <span class="messages-item-star" title="Remove star"><i class="fa fa-star"></i></span>
    <img class="messages-item-avatar" src="assets/images/demo/av2.jpg" />
    <span class="messages-item-from">{{post.title}}</span>
    <div class="messages-item-time"><span class="text">08:46 PM</span>
      <div class="messages-item-actions">
        <a href="#" title="Reply" data-toggle="dropdown"><i class="fa fa-mail-reply"></i></a>
        <div class="dropdown">
          <a href="#" title="Move to folder" data-toggle="dropdown"><i class="fa fa-folder-open"></i></a>
          <ul class="dropdown-menu pull-right">
            <li><a href="#">Work</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Family</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <a href="#" title="Attach to tag" data-toggle="dropdown"><i class="fa fa-tag"></i></a>
          <ul class="dropdown-menu pull-right">
            <li><a href="#"><i class="tag-icon" style="background-color: green;"></i>Friends</a></li>
            <li><a href="#"><i class="tag-icon" style="background-color: red;"></i>Important</a></li>
            <li><a href="#"><i class="tag-icon" style="background-color: blue;"></i>Socials</a></li>
          </ul>
        </div>
      </div>
    </div>
    <span class="messages-item-subject">Astra anea en bumanso ...</span>
    <span class="messages-item-preview">Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do antera ...</span>

  </li>
